<!DOCTYPE html>  
<html>  
<head>  
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
<title>home</title>  
 <style> 
      h1{ 
        color: green; 
        text-align: center; 
        font-family: times new roman;
      } 
      div.one{ 
        margin-top: 40px; 
        text-align: center; 
      } 
      button{ 
        margin-top: 10px; 
      } 
    </style> 
  </head> 
</head>  
<body>  
    <div class="container"> 
      <h1>WELCOME TO ABC LOGISTICS COMPLAINT REGISTERATION PANEL</h1> 
  <br><br>
 <!-- Bootstrap Button Classes -->      
      <div class="container"> 
          
    <a href="/add"><button type="button" class="btn btn-primary btn-lg btn-block">SUBMIT YOUR COMPLAINTS</button><br>
  <a href ="/input_id"><button type="button" class="btn btn-primary btn-lg btn-block">VIEW YOUR COMPLAINT STATUS</button>
</div> 
</div> 
  </body>  
</html>  